@import url('https://fonts.googleapis.com/css?family=Lexend:700|Lexend:400');

body {
  font-family: 'Lexend';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lexend';
  font-weight: 700;
  color: var(--text-bolder);
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 3.210rem;
  /* 67.36px */
}

h2 {
  font-size: 28px;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

:root {
  --big-p-text: 24px;
  --big-h1-margins: 16px 0 32px;
  --box-shadow: 2px 2px 9px 0px #bebebe;

  --text-bolder: #100b08;
  --text-normal: #414141;
  --background: #fdfaf8;
  --primary: #d1672f;
  --secondary: #f1ac87;
  --accent: #fb8a4e;
}


html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* font-size: 18px; */
  margin: 0;
  flex-direction: column;
  align-items: center
}

/* .background-shape {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200%;
  min-height: 600px;
  background-color: #22ebb6;
  transform-origin: top left;
  transform: rotate(-20deg);
  z-index: -1;
} */

p {
  color: var(--text-normal);
  font-size: 20px;
}

.page-container {
  /* max-width: 2000px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  justify-self: center;
}

.project-card,
.main-picture img,
.about-container {
  box-shadow: var(--box-shadow);
}


header,
main {
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* max-width: 2000px; */
}

header {
  padding: 4rem 6rem;
  justify-content: center;
  flex-wrap: wrap;
}

main {
  flex-direction: column;
  align-items: stretch;
}

header img {
  width: 100%;
  object-fit: cover;
}

.main-picture,
.about-container {
  display: flex;
  flex-direction: column;
}

.main-picture {
  flex: 1;
  min-width: 521px;
  max-width: 35vw;
}

.about-container {
  flex: 1;
  padding: 45px 65px 50px 42px;
  min-width: 40vw;
}

.about-container,
.contact-text {
  font-size: var(--big-p-text);
}

.about-container h1 {
  margin: var(--big-h1-margins);
}



.about-container p {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: var(--big-p-text);
  line-height: 38px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 18px;
}

header i {
  font-size: 40px;
}


.work,
.contact {
  padding: 4rem 6rem;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  gap: 5rem 4rem;
  margin-bottom: 5rem;
}

.work>h1 {
  grid-column: 1 / 4;
  margin: 0;
}

.project-card {
  display: flex;
  flex-direction: column;
}

.project-cover {
  height: 100%;
  max-height: 350px;
}

.project-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px 24px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.project-info h2 {
  margin: 0;
}

.project-info p {
  margin-bottom: 3rem;
}

.project-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 30px;
  gap: 16px;
}

.project-icons span {
  font-size: 34px;
}


.project-description {
  grid-column: 1 / 3;
}

.contact {
  display: flex;
  align-items: stretch;
  background-color: var(--secondary);
  gap: 4rem;
}

.contact,
.contact p {
  color: var(--text-bolder);

}

.contact picture {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.contact img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.contact-text {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contact-text * {
  margin: 0;
}

address {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-style: normal;
  font-size: 20px;
}

.phone,
.email {
  display: flex;
  align-items: center;
  gap: 12px;
}

.phone span,
.email span {
  font-size: 36px;
}

.contact .social-icons {
  margin-top: 20px;
  justify-content: flex-start;
  font-size: 46px;

}

a {
  color: BLACK;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  column-gap: 10px;
  height: 4rem;
  width: 100%;
  background-color: var(--accent);
}

.gh-logo-link,
.gh-logo {
  border-radius: 100%;
  max-width: 20px;
}

.gh-logo:hover {
  background-color: white;
}

.gh-name {
  text-decoration-line: none;
}

.gh-name-link:hover {
  color: white;
  text-decoration: underline;
}


/* tablet */
@media (600px < width < 1200px) {

  /* * {
    color: red;
  } */

  header,
  .about-container {
    display: block;
  }

  header {
    padding: 2rem 3rem;
  }

  .about-container {
    padding: 95px 60px;
    margin: 10rem 1rem 1rem;
  }

  .main-picture {
    float: left;
    margin: 0rem 35px 25px 0rem;
    }

  .work,
  .contact {
    padding: 4rem 3rem;
  }

  .work {
    grid-template: 2rem 1fr 1fr / 1fr 1fr;
    margin-bottom: 2rem;
    gap: 4rem 3rem;
  }

  .work>h1 {
    grid-column: 1 / 3;
  }

}

/* mobile */
@media (max-width: 600px) {
  /* * {
    color: blue;
  } */

  h1 {
    font-size: 36px;
    text-align: center;

  }

  p,
  address {
    font-size: 18px;
  }

  header {
    flex-direction: column;
    padding: 28px;
  }

  header i {
    font-size: 36px;
  }

  .main-picture {
    min-width: 270px;
    max-width: 90vw;
  }

  .about-container {
    box-shadow: none;
    padding: 28px 0 0 0;
  }

  .about-container h1 {
    text-align: center;
    margin: 0;
  }

  .about-container p {
    font-size: 20px;
    line-height: 30px;
    margin: 16px 0;
    text-align: left;
  }

  .about-container .social-icons {
    justify-content: center;
    gap: 16px;
  }

  .work,
  .contact {
    padding: 30px 28px;
  }

  .work {
    grid-template: 2rem repeat(5, 1fr)/ 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .work>h1 {
    grid-column: 1 / 2;
    text-align: center;
  }

  .work .project-icons {
    font-size: 28px;
    gap: 10px;
  }

  .project-icons span {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;;
  }

  .contact {
    flex-direction: column;
    row-gap: 3rem;
    padding: 2rem 0 0;
  }

  .contact-text {
    padding: 0 45px;
  }

  .contact .social-icons {
    justify-content: center;
    font-size: 36px;
  }

  .phone span, 
  .email span {
    font-size: 28px;
  }

  footer {
    height: 3rem;
    font-size: 14px;
  }

  .gh-logo {
    max-width: 16px;
  }

}